---
layout: BlogLayout
title: Blog
description: A collection of blog posts.
---

<Header />

<Navigation />

<main>
  <h1>Blog Posts</h1>
  <ul>
    <li><a href="/posts/first-post">First Post</a></li>
    <li><a href="/posts/second-post">Second Post</a></li>
  </ul>
</main>

<Footer />